:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  transition: all 0.4s;
  background-color: #242424;
}


body{
  transition: all 0.4s;
  /* overflow: hidden; */
}